.env
__pycache__/
*/__pycache__/
*/__pycache__/*

.vscode/settings.json
cogs/private/*.py
!cogs/private/*.example.py
!cogs/private/.gitkeep
helpers/private/*.py
!helpers/private/*.example.py
helpers/private/*.py
helpers/private/*
*.json
!vencord_plugins/packs_index.json